$break-small: 640px;
$break-mobile-nav: 750px;
$break-mobile-nav-min: 751px;
$break-medium: 960px;
$break-large: 1070px;

$small-down: (max-width: 639px);
$small-up: (min-width: 640px);
$medium-down: (max-width: 959px);
$medium-up: (min-width: 960px);
$large-up: (min-width: 1070px);
$wide-up: (min-width: 1200px);

$container-width: 1000px;

$zindex-modal-window: 9999;

$font-main: "Trebuchet MS", Tahoma, sans-serif;


$body-background-color: #f1f1f1;
$default-text-color: #000;
$link-color: #1fb7e4;
$active-color: $link-color;


$green-color: #16ec00;
$blue-color: #0086ec;
$red-color: #ec0000;
$orange-color: #ec8600;

$border-color: #d0d9e6;

$transition-easing: linear;
$transition-time: .3s;


$nav-height: 42px;
