button[type=submit]:not(.delete):before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background: svg-load('./../../svg/check.svg'), linear-gradient(transparent, transparent);
  background-size: cover;
}

button[type=submit] {
  float: right;
  border: 0 none;
  background-color: transparent;
}

button[type=submit].delete {
  float: left;
  font-size: 14px;
  background: #bb0505;
  padding: 8px 12px;
  color: #fff;
}
