.btn--edit:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background: svg-load('./../../svg/edit.svg'), linear-gradient(transparent, transparent);
  background-size: cover;
}
