{% extends('base.html.twig') %}

{% block menu %}
    <div class="mm__wrapper">
        <ul class="mm">
            <li class="mm__item">
                <a href="{{ path('homepage') }}">Zpět</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
		<div class="help_wp">
	    <h1>Nápověda</h1>
	    <p>Vítejte v aplikaci pro vytváření a organizování vašich úkolu metodou Getting Things Done.</p>
	    <p>Veškéré projekty a úkoly jsou ukládany a máte tak nim přístup přes svůj účet na této stránce. Tedy jak na telefonu, tabletu, tak desktopu.</p>

	    <h3>Vytváření projektu</h3>
	    <p>Své úkoly v aplikaci můžete třídit do projektů, pokud úkole nemá projekt, pak bude přiřazen do obecného "Bez projektu".</p>
	    <p>Pro vytvoření nového projektu na mobilu stačí zmáčknout zelené tlačítko v dolní části vaší obrazovky. nebo kdykoliv v menu na odkazu Nový projekt.</p>

	    <h3>Vytváření úkolu</h3>
	    <p>Pro vytvoření nového úkolu opět můžete využít nabídku v menu. nebo rovnou k projektu vytvořit nový úkol přes ikonku plus. <span class="btn--add"></span></p>
	    <p>Úkoly můžete různě prioritizovat podle vaší potřeby. Priority v aplikaci jsou Nízká <span class="ts__priority ts__priority--0"></span>, Střední <span class="ts__priority ts__priority--1"></span>, Vysoká <span class="ts__priority ts__priority--2"></span>, Nejvyšší <span class="ts__priority ts__priority--3"></span>. Dále váš úkol můžete naplánovat na určité datum.</p>

	    <h3>Přesouvání úkolů</h3>
	    <p>V apliakci můžete přehazovat úkoly z projektu do jiného, zároveň si tak můžete utřídit jak úkoly, tak projekty dle svého pořadí. Pro přesouvání uchyťě cursorem úkol nebo projekt za jeho jméno a poté tahem přesuňte na požadované místo. </p>

			<h3>Vyřešené úkoly</h3>
			<p>Pokud úkol vyřešíte, pak vedle jeho názvu míte možnost si jej odškrtnout. Vyřešené úkoly jsou ve výchozím anstavení zobrazeny ve spodní části projektu. Pokud is nebudete přát je zobrazit, pak máte možnost je skrýt/zobrazit pomocí nabídky v menu.</p>

	    <h3>Editace</h3>
	    <p>Pokud chcete upravit vytvořený projekt nebo úkol, stačí kliknout na ikonku <span class="btn--edit"></span></p>
	    <p>V případě potřeby, či chybného chování apliakce se obraťte na naši podporu <a href="mailto:podpora@itu.cz" class="help">podpora@itu.cz</a></p>
    </div>

    <h3></h3>
{% endblock %}
