{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		{# todo @FIK prázdný projekt je moc malý na drag and drop#}
		<div id="container" data-sortGroup="projects" data-sortable="{{ {url:path('project_reorder') , settings: {placeholder: 'ui-state-highlight', handle: '[data-handle="project"]'} }|json_encode }}">
            {% for project in projects %}
				{% include "project/show.html.twig" with {'project': project} only %}
            {% endfor %}
		</div>
	</div>

	<div class="add_wrapper">
		<button data-selector="addProject" data-new-url="{{ path('project_new_form') }}" class="btn--fixed-add"></button>
	</div>
{% endblock %}
