{% extends 'base.html.twig' %}

{% block menu %}
		<div class="mm__wrapper">
		<ul class="mm">
			<li class="mm__item"><a data-selector="addProject" data-new-url="{{ path('project_new_form') }}">Nový projekt</a></li>
			<li class="mm__item"><a href="#">Nový úkol</a></li>
			<li class="mm__item"><a href="#">Skrýt vyřešené</a></li>
			<li class="mm__item"><a href="#">Nápověda</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
	<div id="wrapper">
		<div id="container">
            {% for project in projects[0:1] %}
                {% include "project/show.html.twig" with {'project': project} only %}
            {% endfor %}
		</div>
		<div id="container" data-sortGroup="projects" data-sortable="{{ {url:path('project_reorder') , settings: {placeholder: 'ui-state-highlight', handle: '[data-handle="project"]'} }|json_encode }}">
            {% for project in projects[1:] %}
				{% include "project/show.html.twig" with {'project': project} only %}
            {% endfor %}
		</div>
	</div>

	<div class="add_wrapper">
		<button data-selector="addProject" data-new-url="{{ path('project_new_form') }}" class="btn--fixed-add"></button>
	</div>
{% endblock %}
