{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<div id="container" data-sortGroup="projects" data-sortable="{{ {url:path('project_reorder') , settings: {placeholder: 'ui-state-highlight'} }|json_encode }}">
            {% for project in projects %}
				{% include "project/show.html.twig" with {'project': project} only %}
            {% endfor %}
		</div>
	</div>

	<div class="add_wrapper">
		<button class="btn--fixed-add"></button>
	</div>
{% endblock %}
