{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" data-sortGroup="projects" data-sortable="{{ {url:path('project_reorder') , settings: {placeholder: 'ui-state-highlight'} }|json_encode }}">
            {% for project in projects %}
                <div  data-sort-name="{{ project.id }}">
                    <h2>{{ project.name }}</h2>
                    <ul data-sortGroup="tasks" style="width: 100%; min-height: 5em;" data-sortable="{{ {url:path('project_reorder_tasks', {'id': project.id}) , settings: {placeholder: 'ui-state-highlight'} }|json_encode }}">
                        {% for task in project.tasks %}
                            <li data-sort-name="{{ task.id }}" class="ui-state-default">{{ task.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
</style>
{% endblock %}
