{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project edit</h1>

    {% include "project/editForm.html.twig" with {'form': edit_form } %}

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
