{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project creation</h1>

    {% include 'project/newForm.html.twig' with {form: form} only%}

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
