<div class="pr" data-sort-name="{{ project.id }}">
    <div class="pr__header">
        <h2 class="pr__title">{{ project.name }}</h2>
        <div class="pr__action">
            {# TODO open edit project #}
            <a href="#" class="btn--edit"></a>
        </div>
    </div>

    <ul data-sortGroup="tasks" class="pr__content" data-sortable="{{ {url:path('project_reorder_tasks', {'id': project.id}) , settings: {placeholder: 'ui-state-highlight', cancel: '[data-not-dragable="true"]'} }|json_encode }}">
        {% set completed = {} %}
        {% for task in project.tasks %}
            {% if task.completed %}
                {% set completed = completed|merge([task]) %}
            {% else %}
                {#//task#}
                {% include "task/show.html.twig" with {'task': task} %}
            {% endif %}
        {% endfor %}

        {% for task in completed %}
            {% include "task/show.html.twig" with {'task': task} %}
        {% endfor %}
    </ul>
</div>