$el: .btn;

$(el) {
  position: relative;
  display: inline-block;
  margin: 6px;
  padding: 14px 28px;
  font-family: $font-main;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: all $transition-time $transition-easing;
  color: #fff;
  border: 0 none;
  background-color: $link-color;

  &:hover {
    color: #fff;
    background-color: $default-text-color;
  }

  &--small {
    padding: 12px 18px;
  }

  &--add {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  &--edit {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  &--fixed-add {
    position: absolute;
    right: 22px;
    bottom: 22px;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0 none;
    border-radius: 25px;
    background-color: #fff;

    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      display: block;
    }
  }
}

.add_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background: linear-gradient(transparent, #989896);
}

@media all and ($medium-up) {
  .add_wrapper {
    /* display: none; */
  }
}

