{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task edit</h1>

    {% include "project/editForm.html.twig" with {'form': edit_form } %}


    <ul>
        <li>
            <a href="{{ path('task_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
