{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task creation</h1>

    {% include "task/newForm.html.twig" with {'form': form } %}

    <ul>
        <li>
            <a href="{{ path('task_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
